*.class
*.apk
*.ap_
*.dex
bin/
build/
gen/
local.properties
# Package Files #
*.jar
*.war
*.ear
.classpath
.settings/Jelastic_Eclipse_Plugin.prefs
# Don't ignore libraries
!WebContent/WEB-INF/lib/*.jar
