<!-- Template for a single bust list element -->

<div class="mark">
	<div class="voting-container">
		<div location="bust-row-upvote-arrow">
			<!-- <img src="img/up-arrow.png" class="upvote" alt="Upvote" role="button" /> -->
		</div>
		<div location="bust-row-vote-count">
			<!-- <span class="vote-count">666</span> -->
		</div>
		<div location="bust-row-downvote-arrow">
			<!-- <img src="img/down-arrow.png" class="downvote" alt="Downvote" role="button" /> -->	
		</div>
	</div>
	<div location="bust-row-title">
		<!-- <h2 class="mark-title">This is a test title that is way too long</h2> -->
	</div>
	
	<img src="../img/fadeout.png" class="fadeout" alt="" />
</div>