<!-- This is a template for view that lists all the marks. -->

<div class="mark-list-header">
	<h2>Marks</h2>
	<div location="new-mark-button" class="new-mark-button">
		<!-- Add an image inside to act as a button for creating a new mark. See the original code below. The class of the image has been moved the the container. -->
		<!-- <img src="img/add-button.png" class="new-mark-button" alt="Add new Mark" /> -->
	</div>
	
	<div class="triangle-border point-down"></div>
</div>

<div location="marks-list" class="marks-list">
	
	<!-- Put single mark list elements here (mark-row.html) -->

</div>

<div class="mark-list-filter">
	<div class="triangle-border point-up"></div>
	<!-- <h2 class="filter-title">Wordfilter</h2> -->
	<div location="marks-list-filter-input">
		<!-- Add an input element here with a class "filter-input" here. Example below. -->
		<!-- <input class="filter-input" placeholder="Bicycle, Car, Cat, Dog, etc."> -->
	</div>
</div>