<!-- Read what components to include and in what order! -->
<div class="mark">
	<div class="mark-left-container">
		
		<div location="mark-upvote-image" class="mark-upvote-image"> <!-- Upvote arrow: img -->
		</div>
		
		<div location="mark-vote-count" class="mark-vote-count"> <!-- Vote count: text -->
		</div>
		
		<div location="mark-downvote-image" class="mark-downvote-image"> <!-- Downvote arrow: img -->
		</div>
	
	</div>
	
	<div location="mark-title-container" class="mark-title-container"> <!-- Mark title: h3 -->
	</div>

</div>