<!-- This is a template for creating a new bust -->

<div class="mark-list-header">
	<h2>New Bust</h2>
	<div class="triangle-border point-down"></div>
</div>

<div class="marks-list">
	
	<div class="input-block mandatory">
		<h2>Title</h2>
		<div location="new-bust-title-input">
			<!-- <input placeholder="Keep it short, bro."> -->
		</div>
	</div>
	
	<div class="input-block mandatory">
		<h2>Description</h2>
		<div location="new-bust-desc-texarea">
			<!-- <textarea placeholder="What did you see?" rows="4"></textarea> -->
		</div>
	</div>
	
	<div class="input-block">
		<h2>Picture</h2>
		<div location="new-bust-image-input">
			<!-- <input type="file"> -->
		</div>
	</div>
	
	<div class="input-block mandatory">
		<h2>Time of bust</h2>
		<div location="new-bust-datetime-input">
			<!-- <input type="date"> -->
		</div>
	</div>
	
	<div class="input-block mandatory location-bg">
		<h2>Location</h2>
		<div location="latitude">
			<!-- <h4>Lat: not set</h4> -->
		</div>
		<div location="longtitude">
			<!-- <h4>Lng: not set</h4> -->
		</div>
		<h5 class="tip">Click map to choose location!</h5>
	</div>

</div>

<div class="mark-list-filter">
	<div class="triangle-border point-up"></div>
	<div location="new-bust-cancel-button">
		<!-- Button with a class "cancel-button" -->
	</div>
	<div location="new-bust-submit-button">
		<!-- Button with a class "submit-button" -->
	</div>
</div>