<!-- This is a template for creating (submitting for review) a new mark. -->

<div class="mark-list-header">
	<h2>New Mark</h2>
	<div class="triangle-border point-down"></div>
</div>

<div class="marks-list">
	
	<div class="input-block mandatory">
		<h2>Title</h2>
		<div location="new-mark-title-input">
			<!-- <input placeholder="Keep it short, bro."> -->
		</div>
	</div>
	
	<div class="input-block mandatory">
		<h2>Description</h2>
		<div location="new-mark-desc-textarea">
			<!-- <textarea placeholder="What did you see?" rows="4"></textarea> -->
		</div>
	</div>
	
	<div class="input-block">
		<h2>Picture</h2>
		<div location="new-mark-image-input">
			<!-- <input type="file"> -->
		</div>
	</div>

</div>

<div class="mark-list-filter">
	<div class="triangle-border point-up"></div>
	<div location="new-mark-cancel-button">
		<!-- Button with a class "cancel-button" -->
	</div>
	<div location="new-mark-submit-button">
		<!-- Button with a class "submit-button" -->
	</div>
</div>