<div location="list-view-container" class="marks-list-container">
	<!-- marks-sidebar.html (base view, list of all marks) -->
</div>

<div location="busts" class="marks-list-container">
	<!-- single-mark-sidebar.html (list of busts for a single mark) -->
</div>

<div location="newmark" class="marks-list-container">
	<!-- new-mark-sidebar.html (create a new mark) -->
</div>

<div location="newbust" class="marks-list-container">
	<!-- new-bust-sidebar.html (create a new bust) -->
</div>

<div location="bust" class="marks-list-container">
	<!-- single-bust-sidebar.html (single bust view) -->
</div>