<div location="list-view-container" class="marks-list-container"> <!-- List container -->
	<!-- This is the place where you inject the list view you want to show. I've listed all the options under this line. -->
	<!-- marks-sidebar.html (base view, list of all marks) -->
	<!-- single-mark-sidebar.html (list of busts for a single mark) -->
	<!-- new-mark-sidebar.html (create a new mark) -->
	<!-- single-bust-sidebar.html (single bust view) -->
	<!-- new-bust-sidebar.html (create a new bust) -->
</div>