<!-- This is a template for a single mark and thus for a list of busts. -->

<div class="mark-header suggested-mark-header">
	<div location="mark-title">
		<!-- <h2>Fuzzy kitten</h2> -->
	</div>
	<div location="back-button">
		<!-- <img src="img/back-button.png" class="go-back-button" alt="Go back to previous view" /> -->	
	</div>
	<div location="mark-creation-date">
		<!-- <h4>23.2.2013</h4> -->	
	</div>
	<div location="mark-submitter-nickname">
		<!-- <h4 class="nickname">sarukuku</h4> -->
	</div>
	<div location="mark-description">
		<!-- In a p tag, please. Max length 310 characters. -->
		<!-- <p class="mark-description"></p> -->
	</div>
	<div location="view-image-button">
		<!-- <div class="view-image-button">View image</div> -->	
	</div>
	
	<div class="triangle-border point-down"></div>
</div>

<div class="busts-list">
	<!-- Put NOTHING here! -->
</div>

<div class="mark-list-filter">
	<div class="triangle-border point-up"></div>
	<div location="new-mark-cancel-button">
		<!-- Button with a class "cancel-button" and text "Delete" -->
	</div>
	<div location="new-mark-submit-button">
		<!-- Button with a class "submit-button" and text "Approve" -->
	</div>
</div>