<!-- This is a template for a single bust. -->

<div class="bust-header">
	<div location="bust-title">
		<!-- h2 title containeng the bust title here please -->
		<!-- <h2>Seen at street</h2> -->
	</div>
	<div location="bust-datetime">
		<!-- <h4>12.3.2013 12:44</h4> -->
	</div>
	<div location="bust-submitter-nickname">
		<!-- <h4 class="nickname">sarukuku</h4> -->
	</div>
	
	<div class="bust-voting-container">
		<div location="bust-upvote-arrow">
			<!-- <img src="img/up-arrow.png" class="upvote" alt="Upvote" role="button" /> -->
		</div>
		<div location="bust-vote-count">
			<!-- <span class="vote-count">666</span> -->
		</div>
		<div location="bust-downvote-arrow">
			<!-- <img src="img/down-arrow.png" class="downvote" alt="Downvote" role="button" /> -->
		</div>
	</div>
	<div location="bust-delete-button">
		<!-- Add this button if the user has logged in and the bust is his / hers -->
		<!-- <img src="img/delete-button.png" class="new-mark-button" alt="Add new Mark" /> -->
	</div>
	<div location="bust-back-button">
		<!-- <img src="img/back-button.png" class="go-back-button" alt="Add new Mark" /> -->
	</div>
	
	<div location="bust-description">
		<!-- Max length in p tag 500 characters. -->
		<!-- <p class="mark-description"></p> -->
	</div>
	<div location="view-bust-image-button">
		<!-- <div class="view-image-button">View image</div> -->
	</div>
	
	<div class="triangle-border point-down"></div>
</div>

<div class="mark-list-filter">
	<div class="triangle-border point-up"></div>
</div>