<!-- This is a template for a single mark and thus for a list of busts. -->

<div class="mark-header">
	<div location="mark-title">
		<!-- <h2>Fuzzy kitten</h2> -->
	</div>
	<div location="new-mark-button">
		<!-- <img src="img/add-button.png" class="new-mark-button" alt="Add new Mark" /> -->	
	</div>
	<div location="back-button">
		<!-- <img src="img/back-button.png" class="go-back-button" alt="Add new Mark" /> -->	
	</div>
	<div location="mark-creation-date">
		<!-- <h4>23.2.2013</h4> -->	
	</div>
	
	<div class="bust-voting-container">
		<div location="upvote-arrow">
			<!-- <img src="img/up-arrow.png" class="upvote" alt="Upvote" role="button" /> -->
		</div>
		<div location="vote-count">
			<!-- <span class="vote-count">666</span> -->
		</div>
		<div location="downvote-arrow">
			<!-- <img src="img/down-arrow.png" class="downvote" alt="Downvote" role="button" /> -->	
		</div>
	</div>
	
	<div location="mark-description">
		<!-- In a p tag, please. Max length 310 characters. -->
		<!-- <p class="mark-description"></p> -->
	</div>
	
	<div location="view-image-button">
		<!-- <div class="view-image-button">View image</div> -->	
	</div>
	
	<div class="triangle-border point-down"></div>
</div>

<div class="busts-list">
	
	<!-- Put single bust row elements here bust-row.html -->

</div>

<div class="mark-list-filter">
	<div class="triangle-border point-up"></div>
	<h2 class="filter-title">Wordfilter</h2>
	<div location="busts-list-filter-input">
		<!-- Add an input element here with a class "filter-input" here. Example below. -->
		<!-- <input class="filter-input" placeholder="Bicycle, Car, Cat, Dog, etc."> -->
	</div>
</div>